# FMOD Studio project files
.user
.cache
.unsaved

# Compiled banks
Windows/
Mac/
Linux/

# Cache
FMODStudioCache.asset

# Logs
fmod_editor.log

# Platform-specific files
*.sln
*.suo
*.userprefs

# User settings
